



.container-login{
    background-color: white;
    width: 100%;
}


.text-create-account-login>span{
    font-size: 15px;
    color: #edac58;
}


.text-forgot-login >span{
    font-size: 15px;
    color:#000;
}

span{
    color: #edac58;
}