

.container-register{
    width: 100%;
    padding:100px;
    
}

.form-register{
    background-color: red;
}



.text-create-account-register>span{
    font-size: 15px;
    color: #edac58;
}


.text-forgot-register >span{
    font-size: 15px;
    color:#000;
}

.text-register{
    font-size: 20px;
    color:#edac58;
}

/* En register.css */


